<html>

<head>
    <style>
        body {font-family: arial;max-width: 1240px; margin: auto;}
        td {padding: 5px;}
        .bullish {background: green;color: white;}
        .bearish {background: red;color: white;}
        .table-container {max-width: 450px;min-width: min-content;}
        .ai-container {border-color: black;border-style: solid;padding: 10px;}
        .pattern-container {border-color: black;border-style: solid;padding: 10px;}
    </style>
</head>

<body>

    <div class="ai-container">
        <h1>U.S Stock Market AI Prediction</h1>
        <form action="/predict">
            <label for="ticker">Ticker :</label>
            <input type="text" id="ticker" name="ticker" placeholder="eg : 'Tesla' Enter : 'TSLA'" required>
            <input type="submit" value="Predict">
        </form>
    </div>

    <div class="pattern-container">

        <h1>S&P500 Pattern Scanner</h1>
        <form>
            <select name="pattern">
                <option value="">-- Select a Pattern --</option>
                {% for key in candlestick_patterns %}
                <option value="{{ key }}" {% if pattern==key %}selected="selected" {% endif %}>{{
                    candlestick_patterns[key]
                    }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Scan" />
        </form>

        <!-- <img src="{{request.args.get('pattern', False)}}.jpg" alt=""> -->
        <!-- <img src="{{url_for('static', filename='{{ pattern }}.jpg') }} " /> -->
        <div class="table-container">

            <table class="table">
                <!-- <tr>
                <th>symbol</th>
                <th>company</th>
                <th>signal</th>
            </tr> -->
                {% for stock in stocks %}
                {% if stocks[stock][pattern] %}
                <div class="data">

                    <tr>
                        <td>
                            Symbol : {{ stock }}
                        </td>
                        <td>
                            Company : {{ stocks[stock]['company'] }}
                        </td>
                        <td class="{{ stocks[stock][pattern] }}">
                            Signal : {{ stocks[stock][pattern]}}
                        </td>
                    </tr>
                    <tr id="trImg">
                        <td colspan="3">
                            <img src="https://finviz.com/chart.ashx?t={{ stock }}&ty=c&ta=1&p=d&s=l" width="1200px" />

                            <h3>Pattern Formed Date : </h3>

                            {{"Date : "+ stocks[stock]['pattern_happen_days'] }}
                            <br>
                            {{ stocks[stock]['pattern_value'] }}
                            <br>
                            <br>
                            *** Updated : {{stocks[stock]['data_update_on']}} ***
                            <hr>
                            <hr>
                        </td>

                    </tr>
                </div>

                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>