.watchlist span{
    margin: initial;
}
.watchlist .stock-name{
    font-size:0.8rem;
    font-weight: bolder;
}
.watchlist .stock-price{
    font-size: 0.9rem;
}

.minichart-wrapper{
    /* display: inline-block; */
    /* position: relative; */
}
.mini-stockchart{
    height: 24px !important;
    width: 60px !important;
}
.trading-chart{
    min-height: 28rem;
}
.autocomplete-items{
    max-height:50vh;
    overflow-y: auto;
}
@media (min-width:768px){

.watchlist{
    min-height: 30rem;
}
}
