.carousel {
    margin-top: 10px;
}
.stock-slider.container {
    padding: initial;
}

.leaderboard .user-name {
    font-size: 0.8rem;
    font-weight: bolder;
}
.leaderboard p {
    margin: initial;
}
.leaderboard .assets {
    font-size: 0.9rem;
}
.leaderboard .update {
    font-size: 0.7rem;
}

.stock-chart-pro {
    width: 100%;
    height: 26rem;
}

@media (max-width: 367px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 368px) {
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
@media (min-width: 768px) {
    .leaderboard {
        min-height: 21rem;
    }
}
