#tradingBoard{
    color:#7166d2
}
#tradeSubtitleText {

    text-align: center;
}

#tradeButtom {
    display: flex;
    justify-content: space-around;
}
.watchlist span{
    margin: initial;
}
.watchlist .stock-name{
    font-size:0.8rem;
    font-weight: bolder;
}
.watchlist .stock-price{
    font-size: 0.9rem;
}

.minichart-wrapper{
    /* display: inline-block; */
    /* position: relative; */
}
.mini-stockchart{
    height: 24px !important;
    width: 60px !important;
}
.autocomplete-items{
    max-height:50vh;
    overflow-y: auto;
}
@media (min-width:768px){
.watchlist{
        min-height: 30rem;
    }}
#tradeButtom button {
    width: 20% !important;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}
.stock-chart-pro {
    width: 100%;
    height: 26rem;
}
#tradeInput {
    justify-content: space-around;
}
#tradeValueButtom{
justify-content: space-around;
}

#tradeValueButtom button{
color:#000;
background-color:#FCDDEC;
border-color: #FCDDEC;
width: 20% !important;
border-radius: 20px;
box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

}

#buy{
color: #fff;
background-color: #7166d2 !important;
}

#sell{
    color: #fff;
    background-color: #F61C7A !important;
    }


