
.wallet-portfolio-chart{
  width: 100% !important;
  height: 22rem !important;
}
.wallet-asset-chart{
  width:100% !important;
  height:18rem !important;
}
.wallet-performance-chart{
  width:100% !important;
  height:19rem !important;
}