:root{
  --main-gb:#ffffff;
  --main-font-color:#575757;
  --ligher-bg-color:#F2F3F5;
  --darker-bg-color:#E3E5E8;
}
.submit{
  border-radius: 5px;
  border: #575757;
}
.backhome-btn{
  position:absolute;
  top: 5px;
  left: 0px;
  font-size: larger;
}
.backhome-btn a{
  color: var(--main-font-color);
  text-decoration: none;
}
.backhome-btn a:hover{
  color: orange;
}