:root{
  --main-gb:#ffffff;
  --main-font-color:#575757;
  --ligher-bg-color:#F2F3F5;
  --darker-bg-color:#E3E5E8;
}

@media (max-width: 900px) {
  .left-group,
  .right-users{
    display: none;
  };
}
@media (min-width:900px){
  .offcanvas-btn-left,
  .offcanvas-btn-right{
    display: none;
  }
}

.offcanvas-btn-left,
.offcanvas-btn-right{
  position:fixed;
  height: 90px;
  width: 30px;
  top: 68px;
  color: #ffff;
}
.offcanvas-btn-left{
  writing-mode: vertical-rl;
  left: -5px;
  padding-right: 0px;
}
.offcanvas-btn-right{
  writing-mode:vertical-lr;
  right: -5px;
  padding-left: 0px;
}

html,
body {
  color: var(--main-font-color);
}

.upper-container {
}
.lower-container {
  align-items: stretch;
}

/* Left Collumn */
/* Chat Groups and User Status */
.left-group {
  background: var(--darker-bg-color);
  flex: 0 0 200px;
}
.left-group-offcanvas{
  width: 250px;
}
.left-groupbox {
  background: var(--ligher-bg-color);
  height: calc(100vh - 12.5em);
}
.left-groubox-title {
}
.left-grouplist {
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  height:calc(100vh - 13em);
  align-content: flex-start;
}
.left-grouplist::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.group-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  width: 190px;
}
.group-item .group-logo {
  margin: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.group-name {
  margin: 0px;
}
.group-active {
  background: #ffffff;
  margin-left: 20px;
  border-radius: 10px;
}
.group-active::after{
  content: " ";
  color: #ffff;
  background-color: #ffffff;
  position:absolute;
  height: 60px ;
  width: 50px;
  left: 220px;
  border-radius: 10px;
}
.user-status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.user-status-name {
  margin-left: 10px;
}
.user-status-logo{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* Middle Collumn */
/* Chat Room and Messages Send Box */
.mid-group-title {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mid-chat-title{
  --bs-gutter-x:0;!important
}
.mid-group-title img {
  width: 70px;
  height: 70px;
  margin: 10px;
  object-fit: cover;
  border-radius: 50%;
}
.message-lists {
  height: calc(100vh - 14.7em);
  overflow-y: scroll;
  display: flex;
  align-content: flex-start;
}
.message-item {
  margin-top: 10px;
}
.message-time {
  display: flex;
  flex-direction: column;
  flex: 0 0 100px;
  text-align: end;
  font-size: smaller;
}
.message-image {
  max-width: 50%;
}
/* Message Send Box */
.message-textbox {
  height: 4em;
  background: var(--ligher-bg-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: baseline;
}
.message-textbox input {
  border: none;
  border-radius: 10px;
  width: 80%;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
}


.image-upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

}
.image-upload-wrapper .file-upload {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

.image-upload-wrapper input[type="file"] {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.message-user-item {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.message-user-item .user-logo {
  margin-top: 0px;
  object-fit: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.message-user-item .user-name {
  margin-top: 8px;
}

/* Right Column */
/* Friends Lists */
.right-users {
  flex: 0 0 220px;
}
.right-users-offcanvas{
  width: 200px;
}
.users-list-group{
  overflow-y: scroll;
  height: calc(100vh - 13.5em);
}
.users-list-group::-webkit-scrollbar{
  width: 0;
  height: 0;
}
.users-button-group {
  display: flex;
  justify-content: space-between;
}
.user-logo {
  margin: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.user-item {
  height: 3em;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--darker-bg-color);
  border-radius: 8px;
}
.user-item h5{
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.online-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(236, 200, 0);
  border: 2px solid rgb(255, 255, 0);
  top: 15px;
  left: -20px;
  position: relative;
}
.offline-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(105, 105, 105);
  border: 2px solid rgb(150, 150, 150);
  top: 15px;
  left: -20px;
  position: relative;
}


/* User Setting Offcanvas */
.userSetting-offcanvas{
  height: 90%;
}
.userSetting-title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.userSetting-pic{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}
.userSetting-offcanvas .btn-close{
  position: absolute;
  right: 40px;
  top: 40px;
}
