:root {
    --main-font-color: #333333;
    --nav-font-color: #7166d2;
    --ligher-bg-color: #f5f1f1;
    --darker-bg-color: #e0e0e0;
    --card-bg-color: #ffffff;
    --border-radius: 0.6rem;
    --font-family: 'Poppins';
}

body {
    background: var(--darker-bg-color);
    font-family: var(--font-family);
    color: var(--main-font-color);
}

.main {
    background-color: var(--ligher-bg-color);
    border-radius: var(--border-radius);
}

.navbar-brand img {
    max-width: 6rem;
}

.user-dropdown::after{
  display: none;
}

.left-sidebar a {
    font-size: 1rem;
    color: var(--nav-font-color);
    margin-left: 10px;
}
.left-sidebar .adv {
    margin-left: 3px;
}
.left-sidebar .nav-item {
    margin-bottom: 2rem;
}
.left-sidebar .nav-item-title {
    margin-left: 20px;
}
.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
}
.left-sidebar .page-link a:hover {
    background-color: rgb(230, 230, 230);
    border-radius: var(--border-radius) !important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.left-sidebar .active {
    border-radius: var(--border-radius);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    color: #fff;
}
.icon-dashboard {
    background-image: url(../images/nav_btn-dashboard_b.svg);
}
.active .icon-dashboard {
    background-image: url(../images/nav_btn-dashboard_w.svg);
}
.icon-analysis {
    background-image: url(../images/nav_btn-ai_b.svg);
}
.active .icon-analysis {
    background-image: url(../images/nav_btn-ai_w.svg);
}
.icon-trading {
    background-image: url(../images/nav_btn-trading_b.svg);
}
.active .icon-trading {
    background-image: url(../images/nav_btn-trading_w.svg);
}
.icon-wallet {
    background-image: url(../images/nav_btn-wallet_b.svg);
}
.active .icon-wallet {
    background-image: url(../images/nav_btn-wallet_w.svg);
}
.icon-profile {
    background-image: url(../images/nav_btn-profile_b.svg);
}
.active .icon-profile {
    background-image: url(../images/nav_btn-profile_w.svg);
}
.icon-settings {
    background-image: url(../images/nav_btn-settings_b.svg);
}
.active .icon-settings {
    background-image: url(../images/nav_btn-settings_w.svg);
}
.nav-pills > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-pills > li > a.active {
    background-color: var(--nav-font-color) !important;
}

.card{
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}

@media (max-width: 575.98px) {
    .container-xl {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .main {
        height: 100vh;
        overflow: scroll;
    }
}
@media (max-width: 767.98px){
    .left-sidebar .nav-item{
      margin: initial !important;
    }
    .left-sidebar .nav-item a{
      margin-left: 5rem;
    }
}
@media (max-width: 991.98px) {
    .left-sidebar .adv img {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-item-title {
        display: none;
    }
    .icon{
      width: 1.8rem;
      height: 1.8rem;
    }
}
@media (max-width: 1199.98px) {
    .main {
        box-shadow: none !important;
        border-radius: initial;
    }
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


